<h1>Holiday Home Tour</h1>
  <section ng-controller='homesController as homes'>
    <h2>Homes</h2>
      <div id='homes' ng-repeat="home in homes.homes">
        <home-description></home-description>
      </div>
    <%= link_to 'New Home', new_home_path %>

  </section>